@import "tailwindcss";

:root {
  --background: #1D2D44;
    --foreground: #D9E2EC;
    --geist-sans: 'Geist Sans', sans-serif;
    --geist-mono: 'Geist Mono', monospace;
    --font-geist-sans: 'Geist Sans', sans-serif;
    --font-geist-mono: 'Geist Mono', monospace;
    --font-petit-formal: 'Petit Formal Script', cursive;
    --font-petit-formal: 'Petit Formal Script', cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* ซ่อน eye icon ที่ browser ใส่มาเอง */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-password-toggle {
  display: none;
}